.header-content {
  position: absolute;
  top: auto;
  left: auto;
  right: auto;

  top: 200px;

  @media screen and (max-width: 767px) {
    margin: 0px 31px;
    width: 65%;
  }
  @media screen and (min-width: 768px) {
    top: 39%;
    left: 36%;
    min-width: 59%;
  }
  @media screen and (min-width: 1280px) {
    top: 39%;
    left: 20%;
    min-width: 76%;
  }
}

.header-content-text {
  display: inline-flex;
  align-items: center;
  margin: 0px 0px 20px 0px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
  &::before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.6);
    margin-right: 20px;
  }
}

.header-title-container {
  margin: 0px 0px 20px 0px;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: $primary-white;
  margin: 0;
  @media screen and (min-width: 1280px) {
    font-size: 72px;
    line-height: 1.18;
  }
}

.image-number {
  display: block;
  border: none;
  width: 8px;
  height: 2px;
  background-color: #9da4bd;
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.is-check.image-number {
  width: 18px;
  background-color: $primary-white;
}

.header-number-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  width: 18px;
  height: 30px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header-content-slogan {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.02em;
  color: #9da4bd;

  @media screen and (min-width: 768px) {
    max-width: 355px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.67;
    max-width: 486px;
  }
}
