<section>
  <div class="portfolio-container">
    <div class="subtitle-container">
      <p class="portfolio-subtitle">
        На латинском языке &ldquo;барба&rdquo; означает &ldquo;борода&rdquo;
      </p>
    </div>
    <h2 class="portfolio-title">Портфолио</h2>
    <ul class="portfolio-list">
      <li class="item">
        <picture>
          <source
            srcset="
              ./images/portfolio/Rectangle25-mob.jpg    418w,
              ./images/portfolio/Rectangle25@2x-mob.jpg 836w
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/portfolio/Rectangle25-tab.jpg    330w,
              ./images/portfolio/Rectangle25@2x-tab.jpg 660w
            "
            media="(max-width: 1279px)"
          />
          <source
            srcset="
              ./images/portfolio/Rectangle25-desctop.jpg    270w,
              ./images/portfolio/Rectangle25@2x-desctop.jpg 540w
            "
            media="(min-width: 1280px)"
          />
          <img
            class="team-img"
            src="./images/portfolio/Rectangle25-mob.jpg"
            alt="Делают стрижку"
          />
        </picture>
      </li>
      <li class="item">
        <picture>
          <source
            srcset="
              ./images/portfolio/Rectangle26-mob.jpg    418w,
              ./images/portfolio/Rectangle26@2x-mob.jpg 836w
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/portfolio/Rectangle26-tab.jpg    330w,
              ./images/portfolio/Rectangle26@2x-tab.jpg 660w
            "
            media="(max-width: 1279px)"
          />
          <source
            srcset="
              ./images/portfolio/Rectangle26-desctop.jpg    270w,
              ./images/portfolio/Rectangle26@2x-desctop.jpg 540w
            "
            media="(min-width: 1280px)"
          />
          <img
            class="team-img"
            src="./images/portfolio/Rectangle26-mob.jpg"
            alt="Бреют бороду"
          />
        </picture>
      </li>
      <li class="item">
        <picture>
          <source
            srcset="
              ./images/portfolio/Rectangle27-mob.jpg    418w,
              ./images/portfolio/Rectangle27@2x-mob.jpg 836w
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/portfolio/Rectangle27-tab.jpg    330w,
              ./images/portfolio/Rectangle27@2x-tab.jpg 660w
            "
            media="(max-width: 1279px)"
          />
          <source
            srcset="
              ./images/portfolio/Rectangle27-desctop.jpg    270w,
              ./images/portfolio/Rectangle27@2x-desctop.jpg 540w
            "
            media="(min-width: 1280px)"
          />
          <img
            class="team-img"
            src="./images/portfolio/Rectangle27-mob.jpg"
            alt="Отпаривают лицо для бритья"
          />
        </picture>
      </li>
      <li class="item">
        <picture>
          <source
            srcset="
              ./images/portfolio/Rectangle28-mob.jpg    418w,
              ./images/portfolio/Rectangle28@2x-mob.jpg 836w
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/portfolio/Rectangle28-tab.jpg    330w,
              ./images/portfolio/Rectangle28@2x-tab.jpg 660w
            "
            media="(max-width: 1279px)"
          />
          <source
            srcset="
              ./images/portfolio/Rectangle28-desctop.jpg    270w,
              ./images/portfolio/Rectangle28@2x-desctop.jpg 540w
            "
            media="(min-width: 1280px)"
          />
          <img
            class="team-img"
            src="./images/portfolio/Rectangle28-mob.jpg"
            alt="Бреют шею"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
